@import url("../css/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Post No Bills Jaffna Bold 700";
  font-style: normal;
  font-weight: bold;
  src: local("Post No Bills Jaffna Bold 700"), url("../font/Post No Bills Jaffna Bold 700.ttf") format("ttf");
}
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background: #000;
  margin: 0 auto;
}

.header .header__content {
  background-color: #000;
  margin: 0 auto;
  height: 44px;
  display: flex;
  align-items: center;
}
.header .header__contact {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #969696;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .header__contact .contact {
  display: flex;
  align-items: center;
}
.header .header__contact .contact .contact__text_border {
  margin-left: 15px;
  margin-right: 15px;
  border-left: 1px solid #969696;
  border-right: 1px solid #969696;
  padding-left: 15px;
  padding-right: 15px;
}
.header .header__contact .contact .contact__icon {
  margin-right: 15px;
  text-align: center;
}
.header .contact__icon {
  width: 16px;
  height: 16px;
}

.header__log-in {
  display: flex;
  align-items: center;
}
.header__log-in .header__log-in-icon {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}
.header__log-in .log-in__link {
  text-decoration: none;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #969696;
}

.nav_content {
  background-color: #0F0F0F;
  position: relative;
}

.nav_container {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
  width: 100%;
  height: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  display: flex;
  align-items: center;
}

.menu {
  margin: 0;
  padding-inline-start: 0;
}
.menu .menu__item {
  display: inline-flex;
  align-items: center;
  list-style-type: none;
}
.menu .menu__item .menu__link {
  text-decoration: none;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  text-transform: uppercase;
  /* gray */
  color: #969696;
  height: 81px;
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}
.menu .menu__icon {
  padding-right: 20px;
  padding-left: 20px;
}
.menu .menu__icon:last-child {
  padding-right: 0;
}

.submenu {
  background: url(../img/fon1.png);
  background-size: auto auto;
  height: 810px;
  display: flex;
  place-content: center;
}
.submenu__conteiner {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1110px;
}
.submenu .submenu__title {
  height: 320px;
  width: 320px;
  border: 3px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.submenu .submenu__city {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.submenu .submenu__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  width: 38.0208333333%;
  color: #FFFFFF;
}

.conteiner {
  display: flex;
}

.season20 {
  width: 54.156%;
  padding-bottom: 93px;
}
.season20__column:last-child {
  margin-right: 0;
}

.season20__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
  color: #FFFFFF;
  margin-top: 93px;
}

.season20__column {
  margin-right: 4.8076923077%;
}

.season20__conteiner {
  width: 260px;
  height: 325px;
  background-color: #2d3135;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.season20__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.season20__subtitle {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* white */
  color: #FFFFFF;
  margin-bottom: 10px;
}

.season20__cost {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
}

.new-coll {
  background: url(../img/fon_new-collection.png) no-repeat 50%/cover;
  height: 730px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 45.84%;
}
.new-coll__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  top: 484px;
}
.new-coll__button {
  position: absolute;
  top: 583px;
  width: 138px;
  height: 47px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-coll__link {
  text-decoration: none;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.conteiner_other {
  height: 600px;
  display: flex;
}

.season18-img {
  background: url(../img/fon3.png) no-repeat 50%/cover;
  flex: 0 0 45.8333333333%;
}

.season18 {
  flex: 0 0 54.156%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.season18__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 80px;
}
.season18__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  /* white */
  color: #FFFFFF;
  width: 45.3%;
  margin-bottom: 60px;
}
.season18__button {
  width: 311px;
  height: 47px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  display: flex;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}
.season18__link {
  text-decoration: none;
  color: #FFFFFF;
}

.new-income {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.new-income__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 120px;
  margin-top: 126px;
}
.new-income__content {
  margin-bottom: 144px;
  display: flex;
  margin: 0 auto;
}
.new-income__content .season20__column {
  margin-right: 20px;
  margin-bottom: 40px;
}
.new-income__content .season20__column:last-child {
  margin-right: 0;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0F0F0F;
  padding-bottom: 80px;
}
.brand__title {
  display: flex;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  /* white */
  color: #FFFFFF;
  margin-bottom: 80px;
  margin-top: 60px;
}
.brand__content {
  display: flex;
  justify-content: center;
}
.brand__img {
  margin-right: 30px;
}
.brand__img:last-child {
  margin-right: 0;
}

.footer {
  background: url(../img/fon__footer.png) no-repeat 50%/cover;
  width: 100%;
}
.footer__conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
  max-width: 1110px;
  margin: 0 auto;
}
.footer__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */
  text-transform: uppercase;
  /* white */
  color: #FFFFFF;
  margin-bottom: 40px;
}
.footer .about__text,
.footer .category__text,
.footer .category__link,
.footer .mailing__text {
  text-decoration: none;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  /* white */
  color: #FFFFFF;
}
.footer .about {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.footer .category__content {
  width: 287px;
}
.footer .category__conteiner {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer .category__item {
  display: flex;
}
.footer .category__text {
  background: #000;
}
.footer .category__link {
  padding: 10px 20px;
  white-space: nowrap;
}
.footer .category__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}
.footer .category__text .category__text:last-child {
  margin-right: 0;
}
.footer .mailing__content {
  width: 351px;
}
.footer .mailing__text {
  margin-bottom: 37px;
}
.footer .mailing__input {
  box-sizing: border-box;
  width: 210px;
  height: 42px;
  background: rgba(255, 255, 255, 0.4);
  padding-left: 15px;
  border: none;
}
.footer .mailing .form {
  display: flex;
}
.footer .mailing__input::placeholder {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
}
.footer .mailing__btn {
  height: 42px;
  width: 140px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  letter-spacing: 0.05em;
  /* white */
  color: #FFFFFF;
  background-color: #000;
  border: none;
}

.copyright__content {
  margin: 0 auto;
  max-width: 1110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.copyright__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  /* light-gray */
  color: #D0D0D0;
}

@media (max-width: 1680px) {
  .conteiner {
    flex-direction: column;
  }

  .season20 {
    margin: 0 auto;
  }

  .new-coll {
    margin: 0 auto;
    width: 100%;
  }

  body {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1200px) {
  .new-income__content {
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .new-income__content .season20__column {
    width: 50%;
    margin-right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .new-income__content .season20__column:last-child {
    margin-right: auto;
  }

  .brand__content {
    flex-direction: column;
  }

  .brand__img {
    padding: 0;
    margin-right: 0;
  }

  .footer__conteiner {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }

  .mailing__content {
    padding-bottom: 20px;
  }

  .submenu__conteiner {
    width: 100%;
    min-width: 360px;
  }

  .conteiner_other {
    height: auto;
  }

  .footer__conteiner {
    width: auto;
  }
}
@media (min-width: 830px) {
  .burger {
    display: none;
  }
}
@media (max-width: 830px) {
  .season20__content {
    display: flex;
    flex-direction: column;
  }

  body.lock {
    overflow: hidden;
  }

  .season20__column {
    margin-right: 0;
  }

  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .burger span {
    z-index: 2;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .burger:before,
.burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    z-index: 2;
    transition: all 0.3s ease 0s;
  }

  .burger:before {
    top: 0;
  }

  .burger:after {
    bottom: 0;
  }

  .nav__menu {
    z-index: 1;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0F0F0F;
    flex-direction: column;
    align-items: start;
    overflow: auto;
  }
  .nav__menu a {
    margin-bottom: 20px;
  }
  .nav__menu .nav__menu .active {
    top: 0;
    width: 100%;
    height: 100%;
  }
  .nav__menu .menu {
    display: flex;
    flex-direction: column;
  }

  .burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .burger.active span {
    transform: scale(0);
  }
}